*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#f4f6f9;
}

header{

background:#081f4d;

padding:20px;

display:flex;

justify-content:space-between;

align-items:center;

flex-wrap:wrap;

}

.logo h1{

color:white;

font-size:32px;

}

.logo p{

color:#8cc8ff;

}

nav a{

color:white;

text-decoration:none;

margin:10px;

font-weight:bold;

}

.hero{

height:85vh;

background:url("https://images.unsplash.com/photo-1617788138017-80ad40651399?w=1600") center center/cover;

display:flex;

justify-content:center;

align-items:center;

}

.overlay{

background:rgba(0,0,0,.55);

padding:40px;

border-radius:12px;

text-align:center;

color:white;

width:90%;

max-width:700px;

}

.overlay h2{

font-size:50px;

margin-bottom:20px;

}

.overlay p{

font-size:20px;

line-height:1.8;

}

.btn{

display:inline-block;

margin-top:30px;

background:#00c853;

padding:15px 40px;

color:white;

text-decoration:none;

font-weight:bold;

border-radius:8px;

font-size:18px;

}

.why{

padding:70px 20px;

}

.why h2{

text-align:center;

margin-bottom:40px;

font-size:40px;

color:#081f4d;

}

.grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:25px;

max-width:1200px;

margin:auto;

}

.card{

background:white;

padding:30px;

border-radius:15px;

box-shadow:0 10px 30px rgba(0,0,0,.15);

transition:.3s;

}

.card:hover{

transform:translateY(-8px);

}

.card h3{

color:#0d47a1;

margin-bottom:15px;

}

footer{

background:#081f4d;

color:white;

text-align:center;

padding:30px;

margin-top:60px;

}

@media(max-width:768px){

.overlay h2{

font-size:34px;

}

.overlay p{

font-size:18px;

}

nav{

margin-top:20px;

}

  }

/* Internship Page */

.jobs{
    padding:40px 20px;
    background:#f5f7fb;
}

.jobs h2{
    text-align:center;
    color:#0b4ea2;
    margin-bottom:30px;
    font-size:32px;
}

.job-card{
    background:white;
    border-radius:18px;
    padding:25px;
    margin-bottom:25px;
    box-shadow:0 10px 25px rgba(0,0,0,.12);
    transition:.3s;
}

.job-card:hover{
    transform:translateY(-5px);
}

.job-card h3{
    color:#0b4ea2;
    margin-bottom:15px;
}

.job-card p{
    color:#555;
    margin:8px 0;
    font-size:17px;
}

.apply-btn{
    display:inline-block;
    background:#00c853;
    color:white;
    text-decoration:none;
    padding:14px 28px;
    border-radius:10px;
    margin-top:15px;
    font-weight:bold;
}

.apply-btn:hover{
    background:#00a844;
  }
